* {
    margin: 0;
    padding: 0;
}

body {
    /* justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center; */
    /* background: linear-gradient(200deg, #f7006f, #f9f9fa); */
    /* background-color: palevioletred; */
    /* 100%窗口高度 */
    position: relative;
    height: 100vh;
    width: 100vw;
    /* 溢出隐藏 */
    overflow: hidden;
    /* background: linear-gradient(palevioletred, pink) */
    background-color: rgb(246, 150, 151);
}

.weixin {
    position: absolute;
    margin-top: 200px;
    margin-left: 300px;
    height: 40%;
    display: flex;
    z-index: 2;

}

.qq {
    position: absolute;
    margin-top: 200px;
    right: 300px;
    height: 40%;
    /* height: 300px; */
    display: flex;
    z-index: 1;
}

.paidaxin-box {
    display: flex;
    float: right;
    width: 55%;
    /* align-items: center; */
    margin-top: 200px;
    z-index: -1;
}

.paidaxin {
    position: absolute;
    width: 10%;
}